/** HEADER **/
#header-nav {
  background-color: #FBC38B;
  border-radius: 0px;
  border: 0;
}
.navbar-brand {
  padding-top:12px;
}
.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #0357F8;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 50px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #2F4C84;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border:1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
h1{
	text-align: center;
}
section {
		position: relative;
		padding: 15px;
		width: 100%;
	}
	p {
		position: relative;
		clear: right;
	}
	section>div {
		position: relative;
		background-color: gray;
		border: 1px solid black;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
	}
	.sub1 {
		float: right;
		width: 100px;
		padding: 5px;
		margin: 0px;
		border: 1px solid black;
		text-align: center;
		font-size: 125%;
		font-weight: bold;
		background-color: white;
		
	}
	.sub2 {
		float: right;
		color: white;
		width: 100px;
		padding: 5px;
		margin: 0px;
		border: 1px solid black;
		text-align: center;
		font-size: 125%;
		font-weight: bold;
		background-color: maroon;
		
	}
	.sub3 {
		color: black;
		float: right;
		width: 100px;
		padding: 5px;
		margin: 0px;
		border: 1px solid black;
		text-align: center;
		font-size: 125%;
		font-weight: bold;
		background-color: tomato;
		
	}
	.content {
		padding: 5px;
		border: none;
		background-color: gray;
		font-family: Helvetica;
		color: black;
		margin: 0px;

		
	}
	
	.row {
		width: 90%;
	}
	
/*desktop version*/
	@media (min-width: 992px){
		.column-md-4 {
			float: left;
			width: 33.33%;
		}
	}
	/*tablet version*/
	@media (min-width: 768px) and (max-width: 991px){
		.colmn-sm-6 {
			float: left;
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}
		.colmn-sm-12 {
			float: left;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	/*mobile version*/
	@media (max-width: 767px){
		.colmn-xs-12 {
			float: left;
			width: 100%;
		}
	}
